/* montserrat-100 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: url('./fonts/montserrat-v18-latin-100.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./fonts/montserrat-v18-latin-100.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/montserrat-v18-latin-100.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./fonts/montserrat-v18-latin-100.woff')
      format('woff'),
    /* Modern Browsers */ url('./fonts/montserrat-v18-latin-100.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./fonts/montserrat-v18-latin-100.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-200 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url('./fonts/montserrat-v18-latin-200.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./fonts/montserrat-v18-latin-200.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/montserrat-v18-latin-200.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./fonts/montserrat-v18-latin-200.woff')
      format('woff'),
    /* Modern Browsers */ url('./fonts/montserrat-v18-latin-200.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./fonts/montserrat-v18-latin-200.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-300 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/montserrat-v18-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./fonts/montserrat-v18-latin-300.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/montserrat-v18-latin-300.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./fonts/montserrat-v18-latin-300.woff')
      format('woff'),
    /* Modern Browsers */ url('./fonts/montserrat-v18-latin-300.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./fonts/montserrat-v18-latin-300.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/montserrat-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./fonts/montserrat-v18-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/montserrat-v18-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('./fonts/montserrat-v18-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */ url('./fonts/montserrat-v18-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./fonts/montserrat-v18-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/montserrat-v18-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./fonts/montserrat-v18-latin-600.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/montserrat-v18-latin-600.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./fonts/montserrat-v18-latin-600.woff')
      format('woff'),
    /* Modern Browsers */ url('./fonts/montserrat-v18-latin-600.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./fonts/montserrat-v18-latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/montserrat-v18-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./fonts/montserrat-v18-latin-700.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/montserrat-v18-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./fonts/montserrat-v18-latin-700.woff')
      format('woff'),
    /* Modern Browsers */ url('./fonts/montserrat-v18-latin-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./fonts/montserrat-v18-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-800 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('./fonts/montserrat-v18-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./fonts/montserrat-v18-latin-800.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/montserrat-v18-latin-800.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./fonts/montserrat-v18-latin-800.woff')
      format('woff'),
    /* Modern Browsers */ url('./fonts/montserrat-v18-latin-800.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./fonts/montserrat-v18-latin-800.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-900 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url('./fonts/montserrat-v18-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./fonts/montserrat-v18-latin-900.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/montserrat-v18-latin-900.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./fonts/montserrat-v18-latin-900.woff')
      format('woff'),
    /* Modern Browsers */ url('./fonts/montserrat-v18-latin-900.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./fonts/montserrat-v18-latin-900.svg#Montserrat') format('svg'); /* Legacy iOS */
}

#root {
  width: 100vw;
  height: 100vh;
}

:root {
  --black: #000;
  --pink-1: #ffc2c2;
  --green-1: #21ffae;
  --purple-1: #3900ff;
  --purple-2: #4c00ff;
  --purple-3: #a680ff;
  --yellow-1: #ffef9d;
  --primary-white: #fff;
  --gray-1: #636363;
  --gray-2: #aeaeae;
  --gray-3: #e0e0e0;
  --gray-4: #f9f9f9;
  --text: rgba(0, 0, 0, 0.85);
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text);
}

h1 {
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 4.25rem;
}
h2 {
  font-weight: bold;
  font-size: 3rem;
  font-weight: 900;
  line-height: 3.625rem;
}
h3 {
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3rem;
}
h4 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.438rem;
}
h5 {
  color: var(--gray-1);
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.813rem;
}
h6 {
  color: var(--gray-1);
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.188rem;
}

input[type='text'] {
  border-bottom: 0.125rem solid var(--black);
  border-top: 0.125rem solid var(--primary-white);
  border-right-style: hidden;
  border-left-style: hidden;
  height: 2.063rem;
  width: 19.5rem;
  font-size: 0.75rem;
  line-height: 0.938px;
  font-weight: 600;
}
input::placeholder {
  color: var(--gray-2);
  font-weight: 600;
  font-style: normal;
}
input[type='text']:focus {
  border: 0.125rem solid var(--purple-2);
  border-radius: 0.5rem;
  outline: none;
}

button,
a.button {
  display: inline-block;

  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;

  border: 0.063rem solid var(--black);
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;

  cursor: pointer;
}
a.button {
  text-decoration: none;
}
a.button:visited {
  color: inherit;
}
button > img {
  width: 1.5rem;
  margin-right: 0.75rem;
}
button > * {
  vertical-align: middle;
}

button.default {
  background-color: var(--primary-white);
}

button.warning {
  background-color: var(--pink-1);
}

.go {
  background-color: var(--green-1);
}

input[type='submit'] {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;

  border: 0.063rem solid var(--black);
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
}

.primary {
  color: var(--primary-white);
  background-color: var(--purple-2);
}
.primary:hover {
  color: var(--black);
  background-color: var(--purple-3);
}

.secondary {
  background-color: var(--primary-white);
}
.secondary:hover {
  background-color: var(--gray-3);
}

.glyph-layout {
  width: 2rem;
  color: white;
}

input[type='checkbox']:checked {
  background-color: var(--green-1);
}

li {
  font-weight: 600;
  font-size: 0.75rem;
}
