#control-panel {
  height: 80%;
  width: 14.063rem;
  position: absolute;
  right: 15rem;
  top: 10%;
  transition: all 1s;
}
#control-panel.hidden {
  top: 95%;
  transition: all 1s;
}
#control-panel.hidden .shopping-list-body {
  visibility: hidden;
}

#control-panel h2 {
  background-color: var(--purple-1);
  border: 0.063rem solid var(--black);
  border-bottom: 0;
  border-radius: 0.75rem 0.75rem 0 0;
  color: var(--primary-white);
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.067rem;
  margin: 0;
  padding: 0.813rem 0;
  text-align: center;
  text-transform: uppercase;
}
#control-panel h2::after {
  margin-left: 1rem;
  content: url('../../images/triangle-upside-down.svg');
}
#control-panel h2 button {
  background-color: var(--purple-1);
  border: 0;
  color: var(--primary-white);
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.067rem;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}
#control-panel.hidden h2::after {
  content: url('../../images/triangle.svg');
}

.shopping-list-body {
  background-color: var(--primary-white);
  border: 0.063rem solid var(--black);
  border-top: 0;
  visibility: visible;
  min-height: 4rem;
  padding: 0.5rem;
}

#control-panel ul {
  margin: 0;
}

#control-panel ul {
  padding: 0 0 0 0.5rem;
}
#control-panel li {
  list-style-type: none;
}
#control-panel li input[type='checkbox'] {
  margin: 0 0.5rem 0.625rem 0;
  height: 1rem;
  width: 1rem;
  border-radius: 0.313rem;
  border: 0.063rem solid var(--black);
}
