#control-panel {
  height: 80%;
  width: 14.063rem;
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transition: all 1s;
}
#control-panel.hide {
  top: 95%;
  transition: all 1s;
  height: 0px;
}
#control-panel.minimize {
  top: 95%;
  transition: all 1s;
}
#control-panel.hidden .control-panel-body {
  visibility: hidden;
}

#control-panel h2 {
  background-color: var(--purple-1);
  border: 0.063rem solid var(--black);
  border-bottom: 0;
  border-radius: 0.75rem 0.75rem 0 0;
  color: var(--primary-white);
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.067rem;
  margin: 0;
  padding: 0.813rem 0;
  text-align: center;
  text-transform: uppercase;
}
#control-panel h2::after {
  margin-left: 1rem;
  content: url('../../images/triangle-upside-down.svg');
}
#control-panel h2 button {
  background-color: var(--purple-1);
  border: 0;
  color: var(--primary-white);
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.067rem;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
#control-panel.minimize h2::after {
  content: url('../../images/triangle.svg');
}
#control-panel.hide h2 {
  background-color: var(--gray-1);
}
#control-panel.hide h2 button {
  background-color: var(--gray-1);
  cursor: auto;
}
#control-panel.hide h2::after {
  content: none;
}

.control-panel-body {
  background-color: var(--gray-4);
  border: 0.063rem solid var(--black);
  border-top: 0;
  visibility: visible;
  min-height: 4rem;
  padding: 0.5rem;
}

.control-panel-section {
  background: #ffffff;
  border-radius: 8px;
  padding: 0.5rem 0.8rem;
  margin: 10px 0px;
}

.control-panel-section * h3 {
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  color: var(--black);
}

.control-panel-section h4 {
  font-size: 10px;
  line-height: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--black);
}

.item-description img {
  width: 62px;
  height: 62px;
}

.item-description {
  display: flex;
}

.item-description p {
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
}

.item-description * {
  margin: 5px;
}

.transform img {
  width: 16px;
  height: 18px;
  cursor: pointer;
}

.delete-button {
  all: unset;
  display: inline-block;
}
