.nextButton {
  display: block;
  position: absolute;
  bottom: 2.65rem;
  width: 100%;
  text-align: center;

  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.938rem;

  border: 0;
  background-color: var(--primary-white);
  padding: 0;

  cursor: pointer;
}
.nextButton > img {
  margin: 0;
}
