.wrapper {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-template-rows: 6.313rem 1fr;
  row-gap: 0.15rem;
  grid-template-areas:
    'header'
    'sidebar'
    'content';

  width: 100%;
  height: 100%;
}

.wrapper header {
  grid-column: col-start / span 12;
  grid-row: 1 / 2;

  padding: 0;
  border: 1px solid var(--black);
  height: 6.313rem;

  display: grid;
  grid-template-columns: repeat(11, [col-start] 1fr);
}

.wrapper #header-logo {
  grid-column: col-start / span 2;
}
.wrapper #logo {
  width: 4.859rem;
  height: 4.859rem;
  margin: 0.719rem 0 0.719rem 1.906rem;
  padding: 0;
}

.wrapper #header-name {
  grid-column: 3 / span 7;

  height: 6.313rem;
}
.wrapper header h1 {
  font-size: 1.353rem;
  margin: 2.6rem 0;
  line-height: 1.353rem;
}

.wrapper #header-auth {
  grid-column: 10 / span 2;
  padding: 0.943rem 1.586rem 0 0;
  text-align: right;
}

#sidebar {
  grid-area: sidebar;
  grid-column: col-start / span 2;
  grid-row: 2 / 4;

  border: 1px solid var(--black);
  border-radius: 0.375rem;
  margin: 1px 0 0;
}

.wrapper #content {
  grid-area: content;
  grid-column: col-start 3 / span 10;
  grid-row: 2 / 4;

  width: 100%;
  height: 100%;
}

.wrapper #main {
  margin: 10px 24px 28px 24px;
}

#sandbox {
  margin: 0 0 0 2px;
  width: 100%;
  height: 100%;
}
