.wrapper {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-template-areas:
    'header'
    'sidebar'
    'content';
}

header {
  grid-column: col-start / span 12;
  grid-row: 1 / 2;

  padding: 0;
  background: var(--primary-green);
  color: var(--primary-white);

  display: flex;
  flex-direction: row;
}

#logo {
  width: 32px;
  height: 31.5px;
  margin: 8px 0 8.5px 16px;
  padding: 0;
}

header h1 {
  margin: 8px 12px;
  padding: 0;
  line-height: 32px;

  font-size: 18px;
  font-style: normal;
  font-weight: bold;
}

#sidebar {
  grid-area: sidebar;
  grid-column: col-start / span 2;
  grid-row: 2 / 4;

  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  padding: 9px 16px 9px 8px;
}

#dashboard-accordian {
  color: var(--blue);
  font-size: 14px;
  margin-left: 40px;
  position: relative;
  left: -16px;
}

#dashboard-accordian::before {
  content: url('../images/dashboard.png');
  width: 14px;
  position: relative;
  left: -12px;
}

nav ul {
  margin: 9px 0 9px 40px;
  padding: 0;
}

nav li {
  list-style-type: none;
  font-size: 14px;
  margin-top: 18px;
}

nav a:link {
  color: var(--text);
  text-decoration: none;
}
nav a:visited {
  color: var(--text);
  text-decoration: none;
}

#dashboard-icon {
  width: 14px;
}

#content {
  grid-area: content;
  grid-column: col-start 3 / span 10;
  grid-row: 2 / 4;
  background-color: #eceff3;
}

#subheading {
  background-color: #fff;
  padding: 24px 20px;
  margin-left: 2px;
}

h2 {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

#main {
  margin: 10px 24px 28px 24px;
  background-color: #fff;
}

#sandbox {
  margin: 0 0 0 2px;
  background-color: #fff;
}

#sandbox-container {
  display: grid;
  grid-template-columns: repeat(11, [col-start] 1fr);
  grid-template-rows: repeat(5, [row-start] 1fr);
}
