.sidebarMenuTabs {
  display: inline-block;
  flex-direction: row;
  align-items: flex-start;
  width: auto;
  overflow: auto;
  margin: 1rem;
}

.contentSection {
  padding-top: 0.25rem;
}

button#layout {
  padding: 0.25rem;
  border-radius: 8px 0px 0px 8px;
  font-size: 0.75rem;
}

button#toolbox {
  padding: 0.25rem;
  border-radius: 0px;
  font-size: 0.75rem;
}

button#objects {
  padding: 0.25rem;
  border-radius: 0px 8px 8px 0px;
  font-size: 0.75rem;
}

button.active {
  background-color: #21FFAE;
}

.accordion_item {
  display: inline-block;
}

.accordion_item .button {
  border: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  text-align: center;

  color: #434343;
}
.items_wrapper {
  height: 0;
  overflow: hidden;
}
.items_wrapper.open {
  height: auto;
}