#inventory-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#inventory-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--black);
  width: 75%;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.buttons button {
  margin: 0.1rem;
}

.shopping-cart-button {
  background-color: var(--green-1);
}

#inventory-header button {
  font-size: 0.75rem;
  cursor: pointer;
  padding: 0.1rem 1rem;
}

#inventory-header button:disabled {
  cursor: unset;
  border: none;
}

#inventory-header h2 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.067rem;
  margin: 0;
  padding: 0.813rem 0;
  text-align: center;
  text-transform: uppercase;
}

#inventory-list.hidden h2::after {
  content: url('../images/triangle.svg');
}

.inventory-list-body {
  background-color: var(--primary-white);
  border-top: 0;
  visibility: visible;
  min-height: 4rem;
  padding: 5%;
  width: 90%;
}

.layout-list-body {
  background-color: var(--primary-white);
  border-top: 0;
  visibility: visible;
  min-height: 4rem;
  padding: 5%;
  width: 90%;
}

.layout-list-body span {
  margin-bottom: 5px;
  display: inline-block;
}

#inventory-list ul {
  margin: 0;
}

#inventory-list ul {
  padding: 0 0 0 0.5rem;
}
#inventory-list li {
  list-style-type: none;
}
#inventory-list li input[type='checkbox'] {
  margin: 0 0.5rem 0.625rem 0;
  height: 1rem;
  width: 1rem;
  border-radius: 0.313rem;
  border: 0.063rem solid var(--black);

  cursor: pointer;
}

#inventory-list span {
  cursor: pointer;
}

#inventory-list span.selected {
  font-weight: bold;
}

.inventory-list-body .modifier-list-item {
  margin-left: 26px;
}
