.sidebar-menu-tabs {
  display: inline-block;
  width: 100%;
  overflow: hidden;
}

.content-section {
  padding-top: 0.5rem;
}

.sidebar-menu-tabs button {
  padding: 0.25rem 1rem;
  font-size: 0.75rem;
  position: static;
  font-weight: 600;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: var(--black);

  width: 48%;
}

button#layout {
  border-radius: 8px 0px 0px 8px;
}

button#objects {
  border-radius: 0px 8px 8px 0px;
}

button.active {
  background-color: var(--green-1);
}
